/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 70px 15px 0;
}

code {
  font-size: 80%;
}

.question-box {
	margin-top: 15px;
	margin-right: 30px;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
}
.question-img {
	max-width: 100px;
	border-radius: 100%;
}

.question-title {
	font-size: 20px;
	font-weight: bold;
}

.question-footer {
	margin: 30px 0px 0px 0px;
}
.question-aswers {
	margin: 0;
	padding: 0;
}
.question-tags {
	margin: 0;
	padding: 0;
}
.question-like {
	max-width: 20px;
	
}
.likes {
	margin-top: 10px;
	margin-left: 0px;
	text-align: right;
	max-width: 100px;
}

.type-question {
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0px;
	
}


.side {
	font-size: 25px;
	font-weight: bold;
	margin: 45px 0px;
}

.list {
	width: 100%;
	padding-left: 20px;
}
.list-item {
	font-size: 14px;
	font-weight: normal;
	list-style-type: none;
	margin: 10px;
}
.pagination {
	margin-top: 10px;
}

.tag {
	font-size: 14px;
	font-weight: normal;
	margin: 5px;
}
.popluar{
	font-size: 18px;
	font-weight: 500;
	color: red;
}
.very-popluar {
	font-size: 20px;
	font-weight: 600;
	color: darkviolet;
}

.navbar {
	position: fixed;
	width: 100%;
	background-color: #343a40;
	margin-left: 0px;
	z-index: 1000;
}
.navbar-brand {
	color: white;
}
.search{
	display: flex;  
 	 margin: auto;
}
